* {
	-fx-base: #aaaaaa;
	-fx-background-insets: 0px;
	-fx-font-family: "Calibri";
}

.table-view .column-header {
	-fx-font-size: 10pt;
}

.table-view .column-header:hover {
	-fx-effect: innershadow(gaussian, #ffffff, 5, 0, 0, 0);
}

.table-view .column-header:pressed {
	-fx-effect: innershadow(gaussian, #000000, 5, 0, 0, 0);
}

.table-view .placeholder .label {
	-fx-font-size: 15pt;
	-fx-text-fill: #fcfcfc;
	-fx-effect: dropshadow(gaussian, #000000, 3, 0.5, 0, 0);
}

.button {
	-fx-background-radius: 0px;
}

.button:hover {
	-fx-effect: innershadow(gaussian, #ffffff, 5, 0, 0, 0);
}

.button:pressed {
	-fx-effect: innershadow(gaussian, #000000, 3, 0, 0, 0);
}